*{
	margin:0px;
	padding:0px;
}
.row{ 
	float:left;
	border:solid 2px black;
}
.black{
	background-color:black;
	width: 50px;
	height: 50px;
	float: left;
	clear:left;
}

.white{
	width: 50px;
	height: 50px;
	float: left;
	clear:left;
}